body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#topChart {
  display: flex;
  justify-content: space-between;
}

#currencyBlock {
  margin-top:1em;
}

#valuesBlock {
  text-align: right;
}