<!DOCTYPE html>
<html>
  <head>
    <title> {{title}} </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> Filters </h1>
    
    <form>
      <label>From:
        <input id="from" type="date" name="from" value="2019-01-01">
      </label>
      <label>To:
        <input id="to" type="date" name="to" value="2019-10-01">
      </label>

      <br>
      <br>

      <label>Currency:
        <select id="currency" name="currency">
          <option value="usd">USD - $</option>
          <option value="eur">EUR - €</option>
          <option value="gbp">GBP - £</option>
        </select>
      </label>
    </form>

    <h1>Values</h1>
    <p>Min: <span id="min-value"></span></p>
    <p>Max: <span id="max-value"></span></p>

    <canvas id="chart"></canvas>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <script src="/javascripts/financial-data.js" charset="utf-8"></script>
  </body>
  
</html>
