<!DOCTYPE html>
<html>
  <head>
    <title> {{title}} </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> {{title}} </h1>
    <div id="topChart">
      <div id="filtersBlock">
        <h2>Filters</h2>
        <div id="datesBlock">
          From <input type="date" id="startDate" class="eventListener" value=""> to 
          <input type="date" id="endDate" class="eventListener" value="">
        </div>
        <div id="currencyBlock">
          Currency: 
          <select name="currency" id="currency" class="eventListener">
            <option value="EUR">Euro (€)</option>
            <option value="USD">US Dollar ($)</option>
          </select>
        </div>
      </div>
      <div id="valuesBlock">
        <h2>Values</h2>
        <p>Max: <span id="maxValue"></span></p>
        <p>Min: <span id="minValue"></span></p>
      </div>
    </div>
    <canvas id="myChart"></canvas>
  </body>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
  <script src="/javascripts/financial-data.js" charset="utf-8"></script>
</html>